/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
  align-items: center;
  z-index: 2;
}
.wrapper.show {
  right: 20px;
}
.wrapper #cookie-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#cookie-header i {
  color: #fe6b35;
  font-size: 45px;
}
#cookie-header h2 {
  color: #fe6b35;
  font-weight: 500;
}
.wrapper .data {
  margin-top: 16px;
}
.wrapper .data p {
  color: #333;
  font-size: 16px;
  text-align: center;
}
.data p a {
  color: #fe6b35;
  text-decoration: none;
}
.data p a:hover {
  text-decoration: underline;
}
.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 10px;
  background: #fe6b35;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  rotate: -25deg;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.cookieh2{
    font-size: 35px;
}


